.main{
    overflow: hidden;
    background: rgba(255, 209, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    width: 26vw;
    height: auto;
    margin-left: 4vw;
    border-radius: 1.5%;
}
.profile{
    margin-top: 1vh;
    width: 68%;
    height: 36.5vh; 
    max-height: 300px;
    max-width: 300px;   
    cursor: pointer;
}
.bioLogo{
    position: absolute;
    padding-top: 31vh;
    padding-left: 9vw;
    cursor: pointer;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.info{
    width: 318px;;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    color: #073B4C;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 2vh;
}
.logos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 0px;
    gap: 20px;
}
.instagram, .linkdin{
    cursor: pointer;
}
.bio{
    width: 318px;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    color: #073B4C;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 2vh;
}
