.main_question{
    background: #DBABFC;
    margin-left: 4vw;
    width: 26vw;
    height: 19vh;
    margin-top: 3.5vh;
    border-radius: 3%;
}
.hello{
    height: 90%;
    margin-top: 10%;
    width: 25.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: rgb(252, 241, 241);
    border-radius: 15px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(166, 133, 251); 
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(166, 133, 350); 
  } 
.q_num{
    font-weight: 600;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.ans{
    padding-left: 1vw;
    color: #073B4C;
    font-size: 16px;
    padding-bottom: 2.5vh;
    padding-right: 1vw;
}
.ans_logo{
  /* position: fixed; */
  height: 16px;
  cursor: pointer;
  margin-left: 22vw;
  padding-bottom: 0px;
}